<!DOCTYPE html>
<html>
<head>
	<title>Movie Search</title>
</head>
<body>
	<h1>Movie Search</h1>
	<form method="get " action="/search">
		<div>
			<label for="query" >Search for Movies</label>
			<input type="text" name="query" id="query" placeholder="What movie">
			<button type="submit">Look for it!!</button>
		</div>
	</form>

</body>
</html>